<!DOCTYPE html>
<html>
<title>HTML Tutorial
  <style type="text/css">
  body {
    background-color: lightblue;
  }
  h1 {
    color: white;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  } 
  </style>
</title>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>


